<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Agregat · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="side-bar">
      <div class="navbar navbar-default">
        <div class="navbar-form" id="mainmenu">
          <div class="btn-group">
            <button class="btn btn-primary hidden-tiny-phone">
              <img id="spinner" class="invisible" src="assets/img/ajax-loader.gif">
            </button>
            <button {{action "addFeed"}} class="btn btn-default" title="{{t "addFeed"}}">
              <i class="fa fa-plus"></i>
            </button>
            <button {{action "toggleReadVisibility"}} class="btn btn-default" title="{{t "toggleReadVisibility"}}">
              {{#if filters.showRead}}
                <i class="fa fa-eye"></i>
              {{else}}
                <i class="fa fa-eye-slash"></i>
              {{/if}}
            </button>
            <button {{action "openSettings"}} class="btn btn-default" title="{{t "settings"}}">
              <i class="fa fa-cog"></i>
            </button>
            <button {{action "logout"}} class="btn btn-default" title="{{t "logOut"}}">
              <i class="fa fa-sign-out"></i>
            </button>
          </div>
          <div class="btn-group mobile-item-buttons visible-xs {{unless onItemList "invisible"}}">
            <button {{action "previousItem"}} class="btn btn-default mobile-item-button" title="{{t "previous"}}">
              <i class="fa fa-arrow-circle-o-up"></i>
            </button>
            <button {{action "nextItem"}} class="btn btn-default mobile-item-button" title="{{t "next"}}">
              <i class="fa fa-arrow-circle-o-down"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="dragbar hidden-xs"></div>
      <div class="{{unless onIndex "hidden-xs"}}">
        <%= Phoenix.LiveView.live_render(@conn, AgregatWeb.FolderLive, session: %{}) %>
      </div>
    </div>
    <div class="content {{if onIndex "hidden-xs"}}">
      <%= render @view_module, @view_template, assigns %>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
