<h1>Show Folder</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @folder.title %>
  </li>

  <li>
    <strong>Open:</strong>
    <%= @folder.open %>
  </li>

  <li>
    <strong>Position:</strong>
    <%= @folder.position %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.folder_path(@conn, :edit, @folder) %></span>
<span><%= link "Back", to: Routes.folder_path(@conn, :index) %></span>
