.feed-list {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f8f8f8;
    height: 100vh;

    #feed-list {
        white-space: nowrap;
        padding-top: .4rem;
        list-style: none;
        li {
            margin-bottom: 0;
        }
    }

    .feed-title,
    .folder-title {
        cursor: pointer;
    }

    .drag-hovered {
        border-bottom: 2px solid black;
    }

    &.dragging {
        .feed-title *,
        .folder-title * {
            pointer-events: none;
        }
    }

    .feed-icon {
        height: 1.6rem;
        display: inline-block;

        .fa-rss-square:before {
            font-size: 1.7rem;
        }

        .favicon {
            width: 1.6rem;
            height: 1.6rem;
            vertical-align: top;
            display: inline-block;
        }
    }

    .folder-toggle,
    .folder-icon {
        display: inline-block;
    }

    .feed-tag,
    .folder-tag {
        float: right;
        margin: 0 .3rem;
        max-height: 1.6rem;
        .tag {
            height: 1.6rem;
        }
    }

    .feed-text,
    .folder-text {
        overflow: hidden;
    }
}

// Desktop view
@media (min-width: 60.0rem) {
    .feed-list {
        width: 30.0rem - .5rem;

        .folder-toggle,
        .folder-icon,
        .feed-icon {
            padding: 0 .2rem;
        }

        .feed-title,
        .folder-title {
            height: 1.9rem;
        }

        .feed-title {
            padding-left: 4rem;
        }

        #feed-list {
            padding-left: .5rem;
        }
    }
}

// Mobile view
@media (max-width: 60.0rem) {
    .feed-list {
        width: 100% !important;

        .folder-toggle,
        .folder-icon,
        .feed-icon {
            margin: .3rem .2rem;
        }

        .feed-title,
        .folder-title {
            height: 2.8rem;
        }

        .feed-title {
            padding-left: 4.4rem;
        }

        #feed-list {
            padding-left: .6rem;
        }

        .feed-tag,
        .folder-tag {
            margin-top: .4rem;
        }
    }
}
