<div id="item-list" phx-window-keydown="keydown" tabindex="-1" x-data="item-list" x-bind="events" :style="style" phx-hook="ItemList">
  <ul id="items" class="item-list" phx-update="append">
    <%= for id <- @item_ids do %>
      <%= live_component @socket, AgregatWeb.ItemComponent, id: id, current_user: @current_user %>
    <% end %>
  </ul>
</div>
