<div id="item-list" phx-window-keydown="keydown" phx-hook="InfiniteScroll" tabindex="-1">
  <div>
    <ul id="items" x-data="item-list" class="item-list list-unstyled" phx-update="append" phx-hook="ItemList">
      <%= for id <- @item_ids do %>
        <%= live_component @socket, AgregatWeb.ItemComponent, id: id, current_user: @current_user %>
      <% end %>
    </ul>
  </div>
</div>
